logging:
  level:
    web: DEBUG

server:
  forward-headers-strategy: native
  port: 8080

spring:
  config:
    import: optional:file:.env[.properties]

  liquibase:
    enabled: true

  jpa:
    database: postgresql
    hibernate:
      ddl-auto: validate

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  application:
    name: BankRest

  web:
    error:
      include-message: always

bank:
  jwt:
    secret:
      access: ${JWT_ACCESS_SECRET}